* {
    -fx-focus-color: #a34097;

}

BorderPane {
    -fx-background-color: #21282c;
}

GridPane {
    -fx-background-color: #21282c;
    -fx-hgap: 10;
    -fx-vgap: 8;
}

Pane {
    -fx-background-color: #181e21;
    -fx-border-width: 1;
    -fx-border-color: #9aa2a6;
}

.tab {
    -fx-background-insets: 0 0 0 3;
    -fx-background-padding: 0 3 0 3;
    -fx-background-radius: 10 10 0 0;
    -fx-padding: 0 5 0 5;
    -fx-background-color: #343d44;
}

.tab-content-area {
    -fx-border-width: 2;
    -fx-border-color: #a34097;
}

.tab .tab-label {
    -fx-text-fill: #71787b;
    -fx-font: 10pt "Arial";
}

.tab:selected {
    -fx-background-insets: 0 0 0 3;
    -fx-background-padding: 0 3 0 3;
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10;
    -fx-background-color: #a34097;
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
 	-fx-border-width: 0;
}

.tab:selected .tab-label {
    -fx-text-fill: #fefffe;
    -fx-font: 10pt "Arial";
}

.tab-header-background {
    -fx-background-color: #181e21;
}

.headers-region {
    -fx-background-color: #181e21;
}

BorderLabel {
    -fx-background-color: #343d44;
    -fx-border-width: 1;
    -fx-border-color: #7b868d;
    -fx-text-fill: #9aa2a6;
    -fx-font: 12pt "Arial";
}

TitledPane {
    -fx-text-fill: #9aa2a6;
    -fx-font: 12pt "Arial";
}

TitledPane .title {
    -fx-border-color: #7b868d;
    -fx-background-color: #2b3439;
}

TitleLabel {
    -fx-text-fill: #fefffe;
    -fx-font: 16pt "Arial";
}

StabilityPane {
    -fx-background-color: #181e21;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 1;
    -fx-border-color: #9aa2a6;
}